{% extends 'one-column' %}

{% block main %}

    {% for category in categories %}
        <div class="BlogList-item u-margBottom5">
            <h2 class="BlogList-heading"><a href="{{ category.url }}" class="u-linkSubtle">{{ category.name }}</a></h2>
        {{ category.postCount ~ " post" ~ (category.postCount > 1 ? "s") }}
            <p>{{ category.description }}</p>
        </div>

    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {{ _api.blog.categoryFilter.template('api-category-filter') }}
        {{ _api.blog.tagFilter.template('api-tag-filter') }}
        {{ _api.blog.recentPosts.template('api-recent-posts') }}
        {{ _api.blog.recentComments.template('api-recent-comments') }}
        {{ _api.blog.postArchive.template('api-post-archive') }}
    </div>
{% endblock %}
