{% extends 'two-column' %}

{% block main %}
    <h1>{{ category.categoryName }}</h1>
    {{ category.description }}

    {% if category.subCategories %}
        <h2>Sub categories</h2>
        {% for subCategory in category.subCategories %}
            <p><a href="{{ subCategory.url }}">{{ subCategory.categoryName }}</a></p>
        {% endfor %}
    {% endif %}

    {% if category.posts %}
        {% for post in category.posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {{ _api.blog.categoryFilter.template('api-category-filter') }}
        {{ _api.blog.tagFilter.template('api-tag-filter') }}
        {{ _api.blog.recentPosts.template('api-recent-posts') }}
        {{ _api.blog.recentComments.template('api-recent-comments') }}
    </div>
{% endblock %}
