{% extends 'two-column' %}

{% block main %}
    <h1>{{ tag.tagName }}</h1>
    {{ tag.description }}

    {% if tag.posts %}
        {% for post in tag.posts %}
            {% include 'blog/post-list-item' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {{ _api.blog.categoryFilter.template('api-category-filter') }}
        {{ _api.blog.tagFilter.template('api-tag-filter') }}
        {{ _api.blog.recentPosts.template('api-recent-posts') }}
        {{ _api.blog.recentComments.template('api-recent-comments') }}
        {{ _api.blog.postArchive.template('api-post-archive') }}
    </div>
{% endblock %}
