{# form.success only used if you don't redirect to another page after a successful submission #}
{% if form.success %}
    <p class="success">Success!</p>
{% endif %}

{{ form.openTag }}
    {# Show form errors if there are any #}
    {% if form.errors %}
        <div class="errors">
            <p>There was a problem with your submission. Please correct the issues below:</p>
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# Loop through and show each form field #}
    {% for field in form.fields %}
        {% if field.fieldType != "hidden" %}
            <p>
                <label for="{{ field.id }}">{{ field.label }}{% if field.isRequired %} <em>*</em>{% endif %}:</label><br>
                {% if field.description %}{{ field.description }}<br>{% endif %}
                {{ field.tag }}
            </p>
        {% else %}
            {{ field.tag }}
        {% endif %}
    {% endfor %}

    {# Show the CAPTCHA field if necessary #}
    {% if form.captcha.tag %}
        <p>{{ form.captcha.image.tag }}<br>
        <label for="ap-form-captcha-input">Captcha Text<em>*</em>:</label>{{ form.captcha.tag }}</p>
    {% endif %}

    <p><input type="submit" name="s" value="Submit"></p>
{{ form.closeTag }}