<footer class="Footer">
    <div class="Container">
        <a href="#" class="BackTop js-btop" tabindex="-1" title="Go back to top of page"><span class="BackTop-description">Go back to top of page </span></a>
        {% if _core.theme.settings.footerShowNavigation == 'yes' %}
            {{ _api.navigation.get.key('main').showSubNav('no').template('footer') }}
        {% endif %}
        {% if _core.theme.settings.footerShowAddress == 'yes' or _core.theme.settings.footerShowPhone == 'yes' or _core.theme.settings.footerShowEmail == 'yes' %}
            {% spaceless %}
                {% if _core.theme.settings.footerShowAddress == 'yes' %}
                    {% if _core.settings.companyAddressStreet %}
                        {{ _core.settings.companyAddressStreet }},
                    {% endif %}
                    {% if _core.settings.companyAddressCity %}
                        {{ _core.settings.companyAddressCity }},
                    {% endif %}
                    {% if _core.settings.companyAddressState %}
                        {{ _core.settings.companyAddressState }}
                    {% endif %}
                    {% if _core.settings.companyAddressPostalCode %}
                        , {{ _core.settings.companyAddressPostalCode }}
                    {% endif %}
                {% endif %}
                {% if _core.theme.settings.footerShowPhone == 'yes' %}
                {% if _core.theme.settings.footerShowAddress == 'yes' %} | {% endif %}<a href="tel:{{ _core.settings.companyPhone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}">{{ _core.settings.companyPhone }}</a>
                {% endif %}
                {% if _core.theme.settings.footerShowEmail == 'yes' %}
                    {% if _core.theme.settings.footerShowAddress == 'yes' or _core.theme.settings.footerShowPhone == 'yes' %} | {% endif %}<a href="mailto:{{ _core.settings.companyEmail }}" class="Footer-link">{{ _core.settings.companyEmail }}</a>
                {% endif %}
            {% endspaceless %}
        {% endif %}
        <div>&copy; {{ _core.date.year }} {{ _core.settings.companyName }}</div>
        <div class="Footer-credit">
            <a href="https://www.aptuitiv.com" target="_blank" class="Footer-link Footer-creditLink">Website by Aptuitiv</a><a href="https://www.branchcms.com" target="_blank" class="Footer-link Footer-creditLink">Powered by BranchCMS</a>
        </div>
    </div>
</footer>
{{ _page.js() }}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Muli:400,400i,500,700,700i']
            }
        });
    </script>
    {{ _page.bodyEndCode() }}
</body>
</html>
