{% import 'macros/macros' as macros %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch preconnect" href="//www.google-analytics.com">
    {# UNCOMMENT IF USING GOOGLE FONTS
    <link rel="dns-prefetch preconnect" href="//ajax.googleapis.com">
    <link rel="dns-prefetch preconnect" href="//fonts.googleapis.com">
    #}
    <title>{{ _page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    {#
         If the template name was set them load the correct critical CSS file and set
         the main CSS file to load asynchronously.
         Otherwise just load the CSS normal
    #}
    {% if template %}
        {% set template = template|replace({'.twig': ''}) %}
        {{ source('snippets/criticalcss-' ~ template ~ '.twig') }}
        {% do _page.addCss('css/main.css'|theme_url, {'preload': true}) %}
    {% else %}
        <link type="text/css" rel="stylesheet" href="{{ 'css/main.css'|theme_url }}">
    {% endif %}

    {{ _page.css() }}
    {# Loadjs https://github.com/muicss/loadjs #}
    <script>loadjs=function(){function e(e,n){var t,r,i,c=[],o=(e=e.push?e:[e]).length,f=o;for(t=function(e,t){t.length&&c.push(e),--f||n(c)};o--;)r=e[o],(i=s[r])?t(r,i):(u[r]=u[r]||[]).push(t)}function n(e,n){if(e){var t=u[e];if(s[e]=n,t)for(;t.length;)t[0](e,n),t.splice(0,1)}}function t(e,n,r,i){var o,s,u=document,f=r.async,a=(r.numRetries||0)+1,h=r.before||c;i=i||0,/(^css!|\.css$)/.test(e)?(o=!0,(s=u.createElement("link")).rel="stylesheet",s.href=e.replace(/^css!/,"")):((s=u.createElement("script")).src=e,s.async=void 0===f||f),s.onload=s.onerror=s.onbeforeload=function(c){var u=c.type[0];if(o&&"hideFocus"in s)try{s.sheet.cssText.length||(u="e")}catch(e){u="e"}if("e"==u&&(i+=1)<a)return t(e,n,r,i);n(e,u,c.defaultPrevented)},!1!==h(e,s)&&u.head.appendChild(s)}function r(e,n,r){var i,c,o=(e=e.push?e:[e]).length,s=o,u=[];for(i=function(e,t,r){if("e"==t&&u.push(e),"b"==t){if(!r)return;u.push(e)}--o||n(u)},c=0;c<s;c++)t(e[c],i,r)}function i(e,t,i){var s,u;if(t&&t.trim&&(s=t),u=(s?i:t)||{},s){if(s in o)throw"LoadJS";o[s]=!0}r(e,function(e){e.length?(u.error||c)(e):(u.success||c)(),n(s,e)},u)}var c=function(){},o={},s={},u={};return i.ready=function(n,t){return e(n,function(e){e.length?(t.error||c)(e):(t.success||c)()}),i},i.done=function(e){n(e,[])},i.reset=function(){o={},s={},u={}},i.isDefined=function(e){return e in o},i}();</script>
    {# Load the main JS #}
    <script>loadjs(['{{ 'js/main.js'|theme_url }}'], 'main');</script>
    {# Javascript for preloading CSS - https://www.filamentgroup.com/lab/async-css.html #}
    <script>!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>
    {{ _page.js('head') }}
    {{ _page.head() }}
</head>
<body>
    <div class="u-hiddenVisually" aria-hidden="true">{{ source('snippets/svg-icons.twig') }}</div>
    <header class="Header">
        <a class="Header-skipToMain" href="#main">skip to main content {{ macros.iconAriaHidden("chevron-small-right") }}</a>
        <div class="Container">
            <div class="Grid Grid--withGutter Grid--alignMiddle">
                <div class="Grid-cell u-size1of2 u-md-sizeFull u-md-margBottom2 u-md-textCenter">
                    {% if _core.theme.settings.headerLogo %}
                        {% set _core.theme.settings.headerLogo.class = 'Header-logo' %}
                        {% if _core.theme.settings.headerLogo.alt|length == 0 %}
                            {% set _core.theme.settings.headerLogo.alt = _core.theme.settings.company %}
                        {% endif %}
                        <a href="/" title="Back to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
                    {% endif %}
                </div>
                <div class="Grid-cell u-size1of2 u-md-sizeFull u-textRight u-md-textCenter">
                    {% if _core.theme.settings.headerShowSocial == 'yes' %}
                        <div class="Header-line">
                            {% for social in _core.theme.settings.social %}
                                <a href="{{ social.url }}" title="Follow us on {{ social.name }}" class="Header-iconLink"> {{ macros.iconImg(social.icon, social.name, "Header-icon") }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if _core.theme.settings.headerShowAddress == 'yes' or _core.theme.settings.headerShowPhone == 'yes' or _core.theme.settings.headerShowEmail == 'yes' %}
                        {% spaceless %}
                            <div itemscope itemtype="http://schema.org/Organization" class="Header-line">
                                {% if _core.theme.settings.headerShowAddress == 'yes' %}
                                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="Header-line">
                                        {% if _core.theme.settings.address %}
                                            <span itemprop="streetAddress">{{ _core.theme.settings.address }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.city %}
                                            <span itemprop="addressLocality">{{ _core.theme.settings.city }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.state %}
                                            <span itemprop="addressRegion">{{ _core.theme.settings.state }}</span>
                                        {% endif %}
                                        {% if _core.theme.settings.zip %}
                                            <span itemprop="postalCode">, {{ _core.theme.settings.zip }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if _core.theme.settings.headerShowPhone == 'yes' %}
                                    <div itemprop="telephone" class="Header-line"><a href="tel:{{ _core.theme.settings.phone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}">{{ _core.theme.settings.phone }}</a></div>
                                {% endif %}
                                {% if _core.theme.settings.headerShowEmail == 'yes' %}
                                    <div class="Header-line"><a href="mailto:{{ _core.theme.settings.email }}" itemprop="email">{{ _core.theme.settings.email }}</a></div>
                                {% endif %}
                            </div>
                        {% endspaceless %}
                    {% endif %}
                    {% if _core.theme.settings.headerShowButtons == 'yes' and _core.theme.settings.headerButtons %}
                        {% spaceless %}
                            <div class="Header-line">
                                {% for button in _core.theme.settings.headerButtons %}
                                    <a href="{{ button.url }}" class="Button Header-button">{{ button.text }}</a>
                                {% endfor %}
                            </div>
                        {% endspaceless %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <nav class="NavBar" role="navigation" >
        <div class="Container">
            <button class="SmScBtn js-ssNavBtn"><span class="SmScBtn-icon"></span>Menu</button>
            {{ _api.navigation.get.key('main') }}
        </div>
    </nav>
