{% extends 'two-column-right-sidebar' %}
{% import 'macros/macros' as macros %}

{% block banner %}
    {% set content %}
        <h1 class="flex flex-col align-center g-1">Calendar of Events<span class="h4 m-0">{{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</span></h1>
    {% endset %}
    {% include('content-builder/banner') %}
{% endblock %}

{% block main %}
    <div class="h4 flex align-center justify-center g-1">
        {% if previousDateUrl %}
            <a href="{{ previousDateUrl }}" class="flex m-0" title="Go to the previous date range">{{ macros.iconImg('caret-left', 'Go to the previous month', 'm-0') }}</a>
        {% endif %}
        <span class="m-0">{{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</span>
        {% if nextDateUrl %}
            <a href="{{ nextDateUrl }}" class="flex m-0" title="Go to the next date range">{{ macros.iconImg('caret-right', 'Go to the next month', 'm-0') }}</a>
        {% endif %}
    </div>
    {{ header }}
    {% if eventCount > 0 %}
        {% if agenda.days %}
            {% set days = agenda.days %}
        {% elseif category.agenda.days %}
            {% set days = category.agenda.days %}
        {% elseif tag.agenda.days %}
            {% set days = tag.agenda.days %}
        {% endif %}
        {% for day in days %}
            <h2>{{ day.dateTimestamp|date('l, F j, Y') }}</h2>
            {% for event in day.events %}
                <div class="mb-3 ms-1 ms-3-md">
                    <h3 class="h4"><a href="{{ event.url }}">{{ event.title }}</a></h3>
                    {% if event.isMultiDay %}
                        <div class="flex align-center g-1">
                            {{ macros.iconImg('calendar', 'Date') }}
                            <div>{{ event.startDate }} to {{ event.endDate }}</div>
                        </div>
                    {% endif %}
                    {% if event.time.type != 'notime' %}
                        <div class="flex align-center g-1">
                            {{ macros.iconImg('clock', 'Time') }}
                            <div>
                                {% if event.time.type == 'timed' %}
                                    {{ event.time.start }} to {{ event.time.end }}
                                {% elseif event.time.type == 'start' %}
                                    {{ event.time.start }}
                                {% elseif event.time.type == 'allday' %}
                                    All Day
                                {% elseif event.time.type == 'tba' %}
                                    TBA
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if event.description %}
                        <div class="mt-1">{{ event.description }}</div>
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    {% else %}
        <div class="text-center m-2">{{ noEventsMessage }}</div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ include('calendar/sidebar.twig') }}
{% endblock %}
