{% extends 'one-column' %}
{% import 'macros/macros' as macros %}

{% block banner %}
    {% set content %}
        <h1>View By Category</h1>
    {% endset %}
    {% include('content-builder/banner-bar') %}
{% endblock %}

{% block main %}
    <div class="mb-3 text-center">
        <a href="{{ appUrls.home }}">Gallery home</a>
    </div>

    <div class="Gallery Grid g-1">
        {% for category in _app.categories %}
            {% set image = category.image %}
            {% set image.alt = category.categoryName %}
            {% set image.class = 'Gallery-image' %}
            <div class="Gallery-item col-1-1 col-1-2-sm col-1-3-md">
                <a href="{{ category.url }}" class="Gallery-link Constrain Constrain--4by3" title="{{ category.categoryName }}">
                    <div class="Gallery-imageWrap">{{ image.tag }}</div>
                    <div class="Gallery-title Gallery-title--overlay text-center">{{ category.categoryName }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
