
{% import 'macros/form-macros.twig' as macros %}

{{ macros.formSuccessMessage(form) }}

{% set form.class = 'js-form' ~ random_string() %}
{{ form.openTag }}

    {% set errorContainerId = 'errorContainer' ~ random_string() %}
    {{ macros.formErrorContainer(errorContainerId, form, 'custom message') }}

    {{ macros.buildLabelAboveFieldFields(form) }}

    {{ macros.captcha(form) }}

    <p class="u-margBottom1"><em>* Required Fields</em></p>

    <p><button type="submit" class="Button Button--lg">{{ form.submitButtonText }}</button></p>

{{ form.closeTag }}

{{ macros.formValidateHandlerJs(form, errorContainerId) }}