{% extends 'one-column' %}
{% import 'macros/macros' as macros %}

{% block header %}
    <div class="ContentHeader">
        <div class="Container">
            <h1 class="ContentHeader-title">Gallery</h1>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="u-margBottom3 u-textCenter">
        <a href="{{ appUrls.itemList }}">Alternate view</a>
        | <a href="{{ appUrls.categoryList }}">Categories</a>
    </div>
    {% spaceless %}
        <div class="js-masonryGrid">
            <div class="MasonryGrid-columnWidth"></div>
            <div class="MasonryGrid-gutterWidth"></div>
            {% for item in items %}
                {% set image = attribute(item.images|first, 'image') %}
                {% set image.small.alt = item.itemName %}
                {% set image.small.class = 'MasonryGrid-image' %}
                <div class="MasonryGrid-item js-masonryItem">
                    {# Link directly to the large image instead of the item detail page #}
                    {% if item.video.urlInfo %}
                        {% set video = item.video.urlInfo|first %}
                        {% if image.small.src|length > 0 %}
                            {% set videoImage = image.small %}
                        {% else %}
                            {% set videoImage = video.thumbnail %}
                            {% set videoImage.src = videoImage.src|replace('hqdefault', 'mqdefault') %}
                            {% set videoImage.alt = item.itemName %}
                            {% set videoImage.class = 'MasonryGrid-image' %}
                        {% endif %}
                        <a href="{{ video.url }}" class="MasonryGrid-item js-lightbox mfp-iframe" title="View video: {{ item.itemName }}">
                            <div class="Masonry-title Masonry-title--overlay u-textCenter">{{ item.itemName }}</div>
                            <div>{{ videoImage.tag }}</div>
                            <div class="Masonry-play"></div>
                        </a>
                    {% else %}
                        {% set image.large.class = "u-sizeFull" %}
                        <a href="{{ image.large.src }}" class="MasonryGrid-item js-lightbox mfp-image" title="{{ item.itemName }}">
                            <div class="Masonry-title Masonry-title--overlay u-textCenter">{{ item.itemName }}</div>
                            <div>{{ image.large.tag }}</div>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {{ macros.loadMasonry() }}

        {% inlinejs %}
        loadjs.ready('masonry', {
            success: function() {
                $(function() {
                    $('.js-masonryGrid').masonry({
                        columnWidth: '.MasonryGrid-columnWidth',
                        gutter: '.MasonryGrid-gutterWidth',
                        itemSelector: '.js-masonryItem',
                        percentPosition: true
                    });
                });
            }
        });
        {% endinlinejs %}

        {{ macros.loadMagnific() }}

        {% inlinejs %}
        loadjs.ready('magnific', {
            success: function() {
                $(function() {
                    $('.js-lightbox').magnificPopup({
                    disableOn: 700,
                        gallery:{
                            enabled:true
                        }
                    });
                });
            }
        });
        {% endinlinejs %}
    {% endspaceless %}
    {% include 'snippets/pagination' %}

{% endblock %}
