{% extends 'one-column' %}

{% block header %}
    <div class="ContentHeader">
        <div class="Container">
            <h1 class="ContentHeader-title">Gallery</h1>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if items %}
        <div class="u-margBottom3 u-textCenter">
            <a href="{{ appUrls.itemList }}">Alternate view</a>
            {% for category in categories %}
                | <a href="{{ category.url }}">{{ category.categoryName }}</a>
            {% endfor %}
        </div>
        {% spaceless %}
        <div class="Masonry">
            {% for item in items %}
            {% set image = attribute(item.images|first, 'image') %}
            {% set image.small.alt = item.itemName %}
            {% set image.small.class = 'Masonry-image' %}
            <div class="Masonry-item">
                {# Link directly to the large image instead of the item detail page #}
                {% if item.video.urlInfo %}
                    {% set video = item.video.urlInfo|first %}
                    {% if image.small.src|length > 0 %}
                        {% set videoImage = image.small %}
                    {% else %}
                        {% set videoImage = video.thumbnail %}
                        {% set videoImage.src = videoImage.src|replace('hqdefault', 'mqdefault') %}
                        {% set videoImage.alt = item.itemName %}
                        {% set videoImage.class = 'Masonry-image' %}
                    {% endif %}
                    <a href="{{ video.url }}" class="Masonry-link js-lightbox mfp-iframe" title="View video: {{ item.itemName }}">
                        <div class="Masonry-imageWrap">{{ videoImage.tag }}</div>
                        <div class="Masonry-play"></div>
                        <div class="Masonry-title Masonry-title--overlay">{{ item.itemName }}</div>
                    </a>
                {% else %}
                    <a href="{{ image.large.src }}" class="Masonry-link js-lightbox mfp-image" title="View larger image for {{ item.itemName }}">
                        <div class="Masonry-imageWrap">{{ image.small.tag }}</div>
                        <div class="Masonry-title Masonry-title--overlay">{{ item.itemName }}</div>
                    </a>
                {% endif %}

                {% do _page.addCss('/magnific/magnific-popup.css'|theme_url, {'preload': true}) %}
                {% inlinejs %}
                    loadjs.ready('main', {
                    success: function() {
                    loadjs(['{{ 'magnific/jquery.magnific-popup.min.js'|theme_url }}'], 'magnific');
                    }
                    });
                {% endinlinejs %}
                {% do _page.registerJs('magnific/jquery.magnific-popup.min.js'|theme_url) %}

                {% inlinejs %}
                    loadjs.ready('magnific', {
                    success: function() {
                    $(function() {
                    $('.js-lightbox').magnificPopup({
                    disableOn: 700,
                    gallery:{
                    enabled:true
                    }
                    });
                    });
                    }
                    });
                {% endinlinejs %}
            </div>
            {% endfor %}
        </div>
        {% endspaceless %}
        {% include 'snippets/pagination' %}
    {% endif %}

{% endblock %}
