{% extends 'one-column' %}

{% import 'macros/macros' as macros %}

{% block header %}
    <div class="ContentHeader">
        <div class="Container">
            <h1 class="ContentHeader-title">{{ item.itemName }}</h1>
            <div class="ContentHeader-content"><a href="{{ item.goBackUrl }}"> {{ macros.iconImg("caret-left", "Go Back") }} Back</a></div>
        </div>
    </div>
{% endblock %}

{# Video Macro #}
{% macro video(item) %}
    {% set video = item.video.urlInfo|first %}
    <div class="FlexEmbed u-margBottom2">
        <div class="FlexEmbed-ratio FlexEmbed-ratio--8by5"></div>
        <iframe class="FlexEmbed-content" frameborder="0" title="{{ video.title }}" allowfullscreen src="{{ video.iframeEmbed.src }}" loading="lazy"></iframe>
    </div>
{% endmacro %}

{% import _self as itemMacros %}

{% block main %}
    {% if item.video %}
        {# Displaying the video #}
        {% if item.description %}
            <div class="Grid Grid--withGutterLg">
                <div class="Grid-cell u-size2of3 u-lg-size1of2 u-md-sizeFull u-md-margBottom2">{{ itemMacros.video(item) }}</div>
                <div class="Grid-cell u-size1of3 u-lg-size1of2 u-md-sizeFull">{{ item.description }}</div>
            </div>
        {% else %}
            <div class="u-push1of6 u-size2of3 u-md-sizeFull u-md-pushNone">{{ itemMacros.video(item) }}</div>
        {% endif %}
    {% else %}
        {% if item.images|length > 1 %}
            <div id="main-slider" role="group" class="splide" aria-label="Image Slider">
                <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in item.images %}
                                <li class="splide__slide">
                                    {% set image.image.large.alt = image.altText|default(item.itemName) %}
                                    {% set image.image.large.class = 'u-widthFull' %}
                                    {% set image.image.large.style = 'object-fit: cover;' %}
                                    {{ image.image.large.tag }}
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            
            <div id="thumbnail-slider" role="group" class="splide u-margTop1" aria-label="Thumbnail Slider">
                <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in item.images %}
                                <li class="splide__slide">
                                    {% set image.image.small.alt = image.altText|default(item.itemName) %}
                                    {{ image.image.small.tag }}
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            
            {% import 'macros/macros' as macros %}
            {{ macros.loadSplide() }}
            
            {% inlinejs %}
                loadjs.ready('splide', {
                    success: function() {
                        {# Create main slider #}
                        var main = new Splide('#main-slider', {
                            type       : 'fade',
                            pagination : false
                        });
                        
                        {# Create thumbnail slider #}
                        var thumbnails = new Splide('#thumbnail-slider', {
                            rewind          : true,
                            fixedWidth      : 150,
                            fixedHeight     : 100,
                            isNavigation    : true,
                            gap             : 10,
                            focus           : 'center',
                            pagination      : false,
                            arrows          : false,
                            cover           : true,
                            dragMinThreshold: {
                                mouse: 4,
                                touch: 10,
                            },
                            breakpoints : {
                                640: {
                                    fixedWidth  : 66,
                                    fixedHeight : 38,
                                },
                            },
                        });
                        
                        {# Link and start the sliders #}
                        main.sync(thumbnails);
                        main.mount();
                        thumbnails.mount();
                    }
                });
            {% endinlinejs %}
        {% else %}
            {% for image in item.images %}
                {% set image.image.large.alt = image.altText|default(item.itemName) %}
                {% set image.image.large.class = 'u-widthFull' %}
                {{ image.image.large.tag }}
            {% endfor %}
        {% endif %}
        
        {% if item.description %}
            <div class="u-margTop2">{{ item.description }}</div>
        {% endif %}
    {% endif %}
{% endblock %}
