{# Macro that handles building each "tree" of the navigation menu. #}
{% macro menu_items(items, hasParentItem) %}
    {% for item in items %}
        {# ASSIGN MENU ITEM CLASS #}
        {% set class = "SidebarNav-item " ~ item.link.class %}
        <li class="{{ class|trim }}">
            {# ASSIGN MENU LINK CLASS #}
            {% set item.link.class = item.link.class ~ ' SidebarNav-link' %}

            {{ item.link.tag }}
            {% if item.subItems %}
                <ul>
                    {% import _self as macros %}
                    {{ macros.menu_items(item.subItems, false) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# Import the macro so that it can be used #}
{% import _self as macros %}

{# Build the navigation menu #}
<ul class="SidebarNav">
    {% set first = items|first %}
    {% set first.link.class = first.link.class ~ ' SidebarBox-heading' %}
    {{ first.link.tag }}
    {{ macros.menu_items(items|slice(1), true) }}
</ul>
