
{% extends "one-column.twig" %}

{% block main %}
    {% macro productOptions(options) %}
        {% for option in options %}
            <div><b>{{ option.label }}:</b>
                {% if option.value is iterable %}
                    {{ option.value|join('<br>') }}
                {% else %}
                    {% if option.image %}
                        <a href="{{ option.image.src }}">{{ option.value }}</a>
                        {{ option.image.tag }}
                    {% elseif option.file %}
                        <a href="{{ option.file.src }}">{{ option.value }}</a>
                    {% else %}
                        {{ option.value }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endmacro %}

    {% import _self as macros %}

    {% if hasProducts %}

        {% if updateForm.errors %}
            <div class="FormError">
                <ul class="FormError-list">
                    {% for error in updateForm.errors %}
                        <li class="FormError-listItem">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ updateForm.openTag }}

        <table cellspacing="0" class="Table Table--themed">
            <thead>
                <tr>
                    <th class="u-size1of10 u-textCenter">Remove</td>
                    <th class="u-size2of3">Item</td>
                    <th class="u-size1of10 u-textCenter">Price</td>
                    <th class="u-size1of10 u-textCenter">Quantity</td>
                    <th class="u-size1of10 u-textCenter">Total</td>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td class="u-textCenter"><label>{{ product.fields.remove.tag }}</label></td>
                <td>
                    {% if product.images|length > 0 %}
                        <div class="Grid">
                            <div class="u-size1of6">
                                {% set img = attribute(product.images|first, 'image') %}
                                {% set img.small.alt = product.productName %}
                                {% set img.small.class = 'u-sizeFull' %}
                                <a href="{{ product.url }}">{{ img.small.tag }}</a>
                            </div>
                            <div class="u-size5of6">
                                <div class="u-gutters2">
                                    <a href="{{ product.url }}" class="u-weightBold">{{ product.productName }}</a>
                                    {{ macros.productOptions(product.options) }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ product.url }}" class="u-weightBold">{{ product.productName }}</a>
                        {{ macros.productOptions(product.options) }}
                    {% endif %}
                </td>
                <td class="u-textCenter">{{ product.currentPrice }}{% if product.pricePerUnit is defined && product.pricePerUnit != "None" %} / {{ product.pricePerUnit }}{% endif %}</td>
                <td>
                    {% set product.fields.quantity.class = product.fields.quantity.class ~ ' TextInput u-sizeFull' %}
                    {{ product.fields.quantity.tag }}
                </td>
                <td class="u-textCenter">{{ product.totalPrice }}</td>
            </tr>
            {% endfor %}
            {% if coupons %}
                <tr>
                    <td class="u-textRight" colspan="4">Subtotal</td>
                    <td>{{ cartTotalBeforeDiscounts }}</td>
                </tr>
                {% for coupon in coupons %}
                    <tr>
                        <td colspan="4">{{ coupon.name }} ({{ coupon.code }})</td>
                        <td>-{{ coupon.discount }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            <tr>
                <td colspan="2"><button class="Button Button--sm" type="submit">Update Cart</button></td>
                <td class="u-textRight" colspan="2">Total: </td>
                <td>{{ cartTotal }}</td>
            </tr>
            </tbody>
        </table>
        {{ updateForm.closeTag }}

        <div class="u-textRight"><a href="{{ appUrls.checkout }}" class="Button Button--lg"><strong>Checkout &raquo;</strong></a></div>
    {% else %}
        <p>Your shopping cart is empty.</p>
        <p><a href="{{ appUrls.continueShopping }}" class="Button">Continue shopping</a></p>
    {% endif %}
{% endblock %}
