<h1>Checkout</h1>

{% if form.errors %}
    <div class="FormError">
        <p>There was a problem. Please correct the issues below</p>
        <ul class="FormError-list">
            {% for error in form.errors %}
                <li class="FormError-listItem">{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<ul class="List List--arrow">
    <li><a href="{{ appUrls.cart }}">Shopping Cart</a></li>
    <li><a href="{{ appUrls.checkoutShippingAddress }}">Shipping Address</a></li>
    <li><a href="{{ appUrls.checkoutShippingMethod }}">Shipping Method</a></li>
    <li class="u-weightBold">Billing &amp; Payment</li>
    <li>Confirmation</li>
    <li>Receipt</li>
</ul>

{{ form.content }}

{% inlinejs %}
    {# Assuming jQuery is already loaded on the page #}
    $('.js-copyShipping').click(function() {
        if (this.checked) {
            $('.js-paymentFirstName').val('{{ shipping.firstName }}');
            $('.js-paymentLastName').val('{{ shipping.lastName }}');
            $('.js-paymentAddress').val('{{ shipping.address }}');
            $('.js-paymentCity').val('{{ shipping.city }}');
            $('.js-paymentState').val('{{ shipping.state }}');
            $('.js-paymentPostalCode').val('{{ shipping.zipCode }}');
            $('.js-paymentCountry').val('{{ shipping.country }}');
            $('.js-paymentPhone').val('{{ shipping.phone }}');
            $('.js-paymentEmail').val('{{ shipping.email }}');
        }
    });
{% endinlinejs %}
