
{% extends "one-column.twig" %}

{% block main %}
    <h1>Checkout</h1>

    {% if form.errors %}
        <div class="FormError">
            <p>There was a problem. Please correct the issues below</p>
            <ul class="FormError-list">
                {% for error in form.errors %}
                    <li class="FormError-listItem">{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <ul class="List List--arrow">
        <li><a href="{{ appUrls.cart }}">Shopping Cart</a></li>
        <li><a href="{{ appUrls.checkoutShippingAddress }}">Shipping Address</a></li>
        <li><a href="{{ appUrls.checkoutShippingMethod }}">Shipping Method</a></li>
        <li class="u-weightBold">Billing &amp; Payment</li>
        <li>Confirmation</li>
        <li>Receipt</li>
    </ul>

<div class="Grid Grid--withGutterXlg">
    <div class="Grid-cell u-size2of3 u-md-sizeFull">
        {{ form.content }}
    </div>
    <div class="Grid-cell u-size1of3 u-md-sizeFull u-md-margTop3">
        <h2>Your Order</h2>
        <div class="Grid Grid--withGutter Grid--alignMiddle">
            <div class="Grid-cell u-size1of2">Subtotal: </div>
            <div class="Grid-cell u-size1of2">{{ subtotal }}</div>
        </div>
        {% if coupons|length > 0 %}
            <div class="Grid Grid--withGutter Grid--alignMiddle u-fontSize2">
            {% for coupon in coupons %}
                <div class="Grid-cell u-size1of2">{{ coupon.name }}</div>
                <div class="Grid-cell u-size1of2">
                    {% if coupon.type != 'free_shipping' %}
                        -{{ coupon.discount }}
                    {% endif %}
                </div>

            {% endfor %}
            </div>
        {% endif %}
        <div class="Grid Grid--withGutter Grid--alignMiddle">
            <div class="Grid-cell u-size1of2">Shipping:<div class="u-fontSize2">{{ shipping.method.name }}</div></div>
            <div class="Grid-cell u-size1of2">{{ shipping.method.total }}</div>
        </div>
        <div class="Grid Grid--withGutter Grid--alignMiddle">
            <div class="Grid-cell u-size1of2">Taxes</div>
            <div class="Grid-cell u-size1of2">{{ taxes.total }}</div>
        </div>
        <div class="Grid Grid--withGutter u-margTop1 Grid--alignMiddle">
            <div class="Grid-cell u-size1of2 u-fontSize6 u-weightBold">Total</div>
            <div class="Grid-cell u-size1of2 u-fontSize6 u-weightBold">{{ total }}</div>
        </div>
        <hr class="u-margTop2 u-margBottom2">
        {% for product in cartProducts %}
            <div class="Grid Grid--withGutter u-margTop1">
                <div class="Grid-cell u-size2of3 u-fontSize2">
                    {{ product.productName }}<br>
                    {% set image = product.images|first.image.small %}
                    {% if image|length > 0 %}
                        {% set image.style = 'max-width: 100px' %}
                        {{ image.tag }}
                    {% endif %}
                </div>
                <div class="Grid-cell u-size1of3 u-fontSize2">{{ product.totalPrice }}</div>
            </div>
        {% endfor %}
        <p class="u-margTop3 u-fontSize2 u-textRight"><a href="{{ appUrls.cart }}">View cart</a></p>

        <hr class="u-margTop2 u-margBottom2">
        <div class="u-weightBold">Shipping</div>
        {{ shipping.firstName }} {{ shipping.lastName}}<br>
        {{ shipping.address|nl2br }}<br>
        {{ shipping.city }}, {{ shipping.state }} {{ shipping.zipCode }}<br>
        {{ shipping.country }}
    </div>
</div>

    {% inlinejs %}
        window.addEventListener('DOMContentLoaded', () => {
            const copyShipping = document.querySelector('.js-copyShipping');
            copyShipping.addEventListener('change', () => {
                if (copyShipping.checked) {
                    document.querySelector('.js-paymentFirstName').value = '{{ shipping.firstName }}';
                    document.querySelector('.js-paymentLastName').value = '{{ shipping.lastName }}';
                    document.querySelector('.js-paymentAddress').value = '{{ shipping.address }}';
                    document.querySelector('.js-paymentCity').value = '{{ shipping.city }}';
                    document.querySelector('.js-paymentState').value = '{{ shipping.state }}';
                    document.querySelector('.js-paymentPostalCode').value = '{{ shipping.zipCode }}';
                    document.querySelector('.js-paymentCountry').value = '{{ shipping.country }}';
                    document.querySelector('.js-paymentPhone').value = '{{ shipping.phone }}';
                    document.querySelector('.js-paymentEmail').value = '{{ shipping.email }}';
                }
            });
        });
    {% endinlinejs %}
{% endblock %}
