{% extends 'one-column' %}

{% block main %}
    <h1>Our Store Locations</h1>
    {{ _api.app.searchForm.template('api-search-form').instanceKey('store-locations') }}
    <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of3">
            <div class="StoreLocations js-locations">
                {% for item in items %}
                    <div class="StoreLocations-item">
                        <div class="StoreLocations-title"><a href="{{ item.url }}" target="_blank" class="u-linkSubtle">{{ item.itemName }}</a></div>
                        <div class="StoreLocations-address">
                            {{ item.streetAddress }}<br>
                            {{ item.city }}, {{ item.state }} {{ item.zipCode }}
                        </div>
                        <div class="StoreLocations-buttons">
                            <button type="button" class="StoreLocations-button js-locationBtn" data-id="{{ item.id }}">View on Map</button>
                            <a href="{{ item.url }}" class="StoreLocations-button" target="_blank">View Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="Grid-cell u-size2of3">
            <div class="Map FlexEmbed">
                <div class="FlexEmbed-ratio FlexEmbed-ratio--4by3"></div>
                <div class="Map-canvas FlexEmbed-content js-mapCanvas" id="map-canvas"></div>
            </div>
        </div>
    </div>

    {% do _page.addJs('https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMOoxh8o5fQnyJUjwzbhXSGU1Zf7kdO8&libraries=places') %}

    {% inlinejs %}
        loadjs.ready('main', {
            success: function() {
                loadjs(['{{ 'js/store-locations.js'|theme_url }}'], 'storeLocatorMap');
            }
        });

        loadjs.ready('storeLocatorMap', {
            success: function() {
                storeLocations.init();

                storeLocationsListMap.list.hasData = true;
                storeLocationsListMap.setListTotal({{ pagination.totalItemCount }});
                storeLocationsListMap.setFitToBounds(true);
                storeLocationsListMap.setMarkerIcon('{{ 'images/map/marker.svg'|theme_url }}');
                storeLocationsListMap.setLocationIcon('{{ 'images/map/my-location.svg'|theme_url }}');
                storeLocationsListMap.setMarkerClusterSmImage('{{ 'images/map/marker-cluster.svg'|theme_url }}');
                storeLocationsListMap.setMarkerClusterMdImage('{{ 'images/map/marker-cluster.svg'|theme_url }}');
                storeLocationsListMap.setMarkerClusterLgImage('{{ 'images/map/marker-cluster.svg'|theme_url }}');
                {% if _page.request.get.lat is defined and _page.request.get.lon is defined %}
                    storeLocationsListMap.setFocusLocation({{ _page.request.get.lat }}, {{ _page.request.get.lon }});
                {% endif %}
                storeLocationsListMap.run();
            }
        });
    {% endinlinejs %}
{% endblock %}
